<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="bugElements-app">
  <template>
    <style>
      :host p a {
        
      }

      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
    <p>
      Lorem <a href="#">ipsum</a> tata
    </p>
  </template>

  <script>
    Polymer({

      is: 'bugElements-app',

      properties: {
        prop1: {
          type: String,
          value: 'bugElements-app',
        },
      },

    });
  </script>
</dom-module>
